/*#header .center .center_right{
    border-bottom: 2px solid blue;
}*/

body {
    background-image: url("../image/about.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background-attachment: fixed;*/
}

#myself {
   /* float: left;*/
    margin-left: 200px;
    margin-top: 100px;
    width: 100px;
    height: 410px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    /*border-radius: 1%;*/
}
#myself .project .first {
    margin-top: 0px;
}

#myself .project li {
 /*   border-radius: 3%;*/
    background-color: rgba(255,255,255,0.7);
    margin-top: 24px;
    display: block;
    width: 600px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-family: sans-serif;
    transition: all 4s ease;
}

#myself .project li i{

    margin-left: 10px;
    margin-right: 10px;


}
#myself .project li:hover{
    transform:rotateY(360deg);
}
#show {
   /* float: left;*/
    margin-left: 150px;
    margin-top: 50px;
    height: 550px;
    width: 700px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

#show ul {
    position: relative;
    lin-height: 20px;
    text-align: center;
    height: 25px;
    width: 70px;
    margin: 10px 20px;
 /*   background-color: rgba(255, 255, 255, 0.5);*/
}

#show ul li {
    display: block;
    height: 25px;
    width: 70px;
    color: white;
    margin-top: 20px;
    background-color: black;
    transition:all 4s ease;  /*添加动画**/
}


#show ul li:hover{

    background-color: orange;
    border-radius: 1%;
    transform: rotate(360deg);
}
/*#show ul li a{
    display: block;
    height: 25px;
    width: 70px;
    color: white;
    margin-top: 20px;
    background-color: black;

}*/
/*
#show .first {
    background-color: orange;
}*/

#show .picture {
    position: absolute;
    height: 350px;
    width: 350px;
    margin-top: 115px;
    margin-left: 215px;
    background-image: url("../image/about.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#show .picture img{
    height: 100%;
    width: 100%;
}

/*

#body_out{
    width: 996px;
    height: 1200px;
    margin: 0 auto;
   !* border: 1px solid blue;*!
}*/
