*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
li{
    display: none;
}
#header{
    height: 50px;
    width: 100%;
    background-color: #fff;
    border:  1px solid white;
}
#body{
    height: 450px;
    width: 800px;
    margin: 80px auto;
    /*background-color: #fff;*/
    background: rgba(255,255,255,0.7);
    border: 1px solid rgba(255,255,255,0.1);
}
#header .center{
    width: 1200px;
    height: 50px;
    margin: 0px auto;

}
#header .center .center_left{
    /* background-color: #f3f3f3;*/
    float: left;
    height: 50px;
    width: 860px;

}
#header .center .center_right{

    /* background-color: red;*/
    float:  right;
    height: 50px;
    width: 100px;
    color: white;
    line-height: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;

}
#header .center .center_right p{
    float: right;
    /* color: black;*/
    margin-right: 10px;
}
#header .center .center_right a{
    display: block;
    height: 50px;
    width: 100px;
    color: black;
    transition: all 1s ease;
}
#header .center .center_right a:hover{
    background-color: orange;
}
#header .center .list li{
    display: block;
    height: 50px;
    width: 120px;
    margin-left: 2px;
    /*background-color: rosybrown;*/
    float: left;
    transition: all 2s ease;
}


/*鼠标指针失效*/
#header .center .technology{
    pointer-events:none;
    /*color:#afafaf;*/
    /*  cursor:default*/
}
#header .center .list li a{
    font-family: sans-serif;
    color: black;
    display: block;
    height: 50px;
    width: 120px;
    line-height: 50px;
    text-align: center;
    transition: all 1s ease;
}
#header .center  .technology p{
    color: blue;
}
#header .center .technology a{
    border-bottom:2px solid blue;

}
#header .center .list li a p{
    float: right;
    margin-right: 18px;
}
#header .center .list li a:hover{
    background-color: orange;
    border-radius: 5%;
}
#header .center .list li:hover{
   /* -webkit-transform: scale(1.3,1.3)  translateY(10px);
    -moz-transform: scale(1.3,1.3)  translateY(10px);
    -ms-transform: scale(1.3,1.3)  translateY(10px);
    -o-transform: scale(1.3,1.3)  translateY(10px);
    */transform: scale(1.2,1.2)  translateY(10px);
}

.center_right a:hover{
    border-radius: 5%;
    /*-webkit-transform: scale(1.3,1.3)  translateY(10px) ;
    -moz-transform: scale(1.3,1.3) translateY(10px);
    -ms-transform: scale(1.3,1.3)  translateY(10px);
    -o-transform: scale(1.3,1.3)  translateY(10px);
   */ transform: scale(1.2,1.2)  translateY(10px);

}