*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

#mycanvas{
    margin-top: 0;
    height: 10px;
    width: 100%;
    margin-left: 0;
}
#search{
    width: 1000px;
    height: 100px;
    margin: 15px auto;
  /*  background-color:lightgray;*/
    border-bottom: 2px solid black;
}
#search .logo{
    color: orange;
    margin-left: 100px;
    float: left;
    height: 70px;
    width: 70px;
    margin-top: 0px;
}

#search .form input{
    font-size: 16px;
    margin-top: 25px;
    margin-left: 500px;
    float: left;
    height: 50px;
    width: 270px;
}

#search .form span{
    height: 50px;
    width: 50px;
    margin-top: 25px;
    background-color: wheat;
}


#search .form span i{
    background-color: black;
    color:orange;
}
#search .form span i:hover{
    background-color: orange;
    color: white;
}
#search .form span i{
    margin-top: 25px;
    float: left;
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-left: none;
    line-height: 50px;
    text-align: center;
}

#body1{
    float: left;
    width: 1000px;
    height: 1500px;
   /* border:  1px solid red;*/
    margin-left: 200px;
    margin-bottom: 50px;
}

#body1 .body_left{
    vertical-align: center;
    margin-left: 10px;
    /*height: 1400px;*/
    width: 600px;
    /*border: 1px solid black;*/
    float: left;
    margin-top: 1px;



}

#body1 .body_left span{
    vertical-align: center;
    font-size: 25px;
    font-weight: bold;

}
#body1 .body_left .first{
    margin-top: 5px;
}
#body1 .body_left .pict{
    float: left;
    width: 260px;
    height: 320px;

   /* border: 1px solid black;*/


}

#body1 .body_left .text{
    line-height: 30px;
    padding: 10px;
    margin-right: 10px;
    float: right;
    width: 290px;
    height: 320px;
    /*border: 1px solid black;*/
}

#body1 .body_left .last{
    margin-bottom: 100px;
}

#body1 .body_left img{
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 2%;
    height: 150px;
    width: 250px;
}
#body1 .body_left ul li{
    vertical-align: top;
    background-color: whitesmoke;
    padding: 10px;
    display: block;
    height: 350px;
    width: 595px;
   /* border: 1px solid black;*/
    margin-top: 30px;
    border-radius: 2%;
}


#body1 .body_right{
    background-color:whitesmoke;
    padding: 20px;
    position: fixed;
    margin-left: 700px;
    margin-top: 5px;
    height:400px;
    width: 300px;
   /* border: 1px solid black;*/
    float: left;
    border-radius: 5%;
    /*opacity: 0.6;*/


}

#body1 .body_right a:hover{
    text-decoration-line: underline;
    color: orange;



}
#body1 .body_right span{
    margin: 40px auto;

    display: block;
    height: 40px;
    width: 130px;
   /* border: 1px solid black;*/
    color: white;
    background-color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 5%;


}

#body1 .body_right a{
    color: black;
}
#body1 .body_right span:hover{
    color: orange;
}
#pic img{
    height: 150px;
    width: 150px;
}

#pic{
    width: 150px;
    height: 150px;
   /* border: 1px solid black;*/
    float: right;
    position: fixed;
    margin-left: 1230px;
    margin-top: 100px;
    transition: all 3s ease;
}
#pic:hover{
    transform: scale(1.3,1.3);
}


#footer{
   /* border: 1px solid black;*/

    clear: both;
    height: 50px;
    width: 100%;
    color: black;
    line-height: 50px;
    text-align: center;
    margin-top: 100px;
    background-color: rgba(255,255,255,0.7);
}







